.destinations {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.destination-tokyo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destination-osaka {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-destination-tokyo {
  background: url(../img/tokyo-mobile.jpg) repeat;
  background-size: cover;
  height: 360px;
}

.img-destination-osaka {
  background: url(../img/osaka-mobile.jpg) repeat;
  background-size: cover;
  height: 360px;
}

.destinations h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}

.destinations p {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
}

.btn-destination-details {
  display: flex;
  background-color: var(--secundary-color);
  width: 100%;
  height: 64px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: var(--title-weight);
  justify-content: center;
  align-items: center;
  color: var(--text-secundary-color);
}

.btn-destination-details:hover {
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .img-destination-tokyo {
    background: url(../img/tokyo-tablet.jpg) repeat;
    background-size: cover;
    height: 452px;
  }

  .img-destination-osaka {
    background: url(../img/osaka-tablet.jpg) repeat;
    background-size: cover;
    height: 452px;
  }

  .btn-destination-details {
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destinations p {
    width: 520px;
  }

  .img-destination-tokyo {
    background: url(../img/tokyo-desktop.jpg) repeat;
    background-size: cover;
  }

  .img-destination-osaka {
    background: url(../img/osaka-desktop.jpg) repeat;
    background-size: cover;
  }
}
