@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #b81515;
  --secundary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-terciary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --header-font-weight: 500;
  --footer-font-weight: 400;

  --cards-font-weight-big: 700;
  --cards-font-weight-small: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}