@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  background-color: var(--secundary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }

  section {
    width: 648px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1220px;
  }
}
