header {
  background-color: var(--background-terciary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}