.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 8px;
}

.testimonial-container footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
}

.profile-content .star {
  font-size: 32px;
  color: var(--secundary-color);
  line-height: 32px;
  margin-top: 8px;
}

.testimonial-container footer img {
  width: 86px;
  height: 86px;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-direction: row;
  }
}
